<%- include('header') %>
<header>
    <div class="container-fluid">
        <h1>The Book Haven</h1>
        <p>We love books and we sell books!</p>
    </div>
</header>
<main>
    <h2>About Us</h2>
    <p>
        Welcome to The Book Haven, your destination for a curated collection of serious literature across a wide
        range of genres. We are passionate about books and believe in the power of great stories to transport,
        inspire, and connect. At The Book Haven, we strive to create a space where readers of all tastes can find
        the books that resonate with them.
    </p>

    <h3>Our Mission</h3>
    <p>
        Our mission is to offer a diverse and thoughtfully selected collection of books, focusing on the genres of
        classic literature, philosophy, science fiction, and fantasy. We aim to bring together readers who share our
        love for serious and meaningful literature, providing them with a haven where they can discover new works
        and revisit timeless classics. 
    </p>

    <div style="text-align: center; margin: 50px 0;">
        <img src="window.jpg" alt="Window image" style="max-width: 70%; height: 20%;">
    </div>

    <p>
        At The Book Haven, we believe in the personal touch. Our team of book
        enthusiasts is always on the lookout for unique and engaging titles to add to our collection. We work
        closely with authors, publishers, and literary experts to ensure that our selection reflects the best that
        each genre has to offer.
    </p>    
    <p>
        We are committed to creating a welcoming and inclusive environment for all readers. Whether you're a
        seasoned bibliophile or a casual reader, we invite you to explore our collection and find your next favorite
        book.
    </p>

</main>
<%- include('footer') %>