<%- include('header') %>
<header>
    <div class="container-fluid">
        <h1>The Book Haven</h1>
    </div>
</header>
<main>
    <h2>Classical Literature</h2>
    <p>
        Classics encompass a diverse range of literature that has stood the test of time, earning a lasting place in
        the literary canon. These works, often written by renowned authors, have influenced generations of readers
        and shaped the course of literary history. From the epic tales of Homer and the tragedies of Shakespeare to
        the novels of Jane Austen and Charles Dickens, classics offer rich narratives, timeless themes, and profound
        insights into the human condition. Reading the classics provides a glimpse into the past while revealing
        enduring truths that resonate with contemporary audiences.
    </p>
    <div class="text-center mt-4 mb-4">
        <a href="/list" class="btn custom-btn">See a full list of our books!</a>
    </div>
</main>

<%- include('footer') %>