<%- include('header') %>
<header>
    <div class="container-fluid">
        <h1>The Book Haven</h1>
    </div>
</header>
<main>
    <h2>Fantasy</h2>
    <p>
        Fantasy transports readers to magical realms filled with mythical creatures, enchanted landscapes, and epic
        quests. The genre is known for its imaginative storytelling, often featuring wizards, dragons, elves, and
        other fantastical elements. Fantasy provides an escape from reality, allowing readers to explore worlds
        where magic is real and adventures await at every turn. Beyond the enchantment and wonder, fantasy often
        explores themes of heroism, friendship, and the battle between good and evil. From the epic sagas of J.R.R.
        Tolkien's Middle-earth to the magical school of J.K. Rowling's Hogwarts, fantasy captivates audiences of all
        ages with its boundless creativity and sense of wonder.
    </p>
    <div class="text-center mt-4 mb-4">
        <a href="/list" class="btn custom-btn">See a full list of our books!</a>
    </div>
</main>
<%- include('footer') %>