<%- include('header') %>
<header>
    <div class="container-fluid">
        <h1>The Book Haven</h1>
    </div>
</header>
<main>
    <h2>Philosophy</h2>
    <p>
        Philosophy delves into the fundamental questions of existence, knowledge, ethics, and reason. It seeks to
        understand the nature of reality, the human mind, and our place in the world. Philosophical texts often
        challenge conventional thinking and encourage readers to explore abstract concepts through reasoned
        argumentation. From ancient Greek philosophers like Plato and Aristotle to modern thinkers like Nietzsche
        and Sartre, philosophy invites us to contemplate life's deeper meanings and develop our own perspectives. It
        serves as a guide for critical thinking and self-reflection, offering a framework to navigate complex moral
        and existential dilemmas.
    </p>
</main>
<div class="text-center mt-4 mb-4">
    <a href="/list" class="btn custom-btn">See a full list of our books!</a>
</div>
<%- include('footer') %>