<%- include('header') %>
<header>
    <div class="container-fluid">
        <h1>The Book Haven</h1>
    </div>
</header>
<main>
    <h2>Popular this Week</h2>
    <p>
        
    </p>
</main>
<%- include('footer') %>