<%- include('header') %>
<header>
    <div class="container-fluid">
        <h1>The Book Haven</h1>
    </div>
</header>
<main>
    <h2>Science Fiction</h2>
    <p>
        Science fiction, or sci-fi, explores imaginative and futuristic concepts such as advanced technology, space
        exploration, time travel, and extraterrestrial life. It often delves into the impact of science and
        technology on society and individuals, offering insights into our potential future. Through speculative
        storytelling, sci-fi challenges our perceptions of reality, raises ethical questions, and invites us to
        ponder the possibilities that lie ahead. From space operas to dystopian worlds, science fiction remains a
        genre that continually pushes the boundaries of human imagination.
    </p>
</main>
<div class="text-center mt-4 mb-4">
    <a href="/list" class="btn custom-btn">See a full list of our books!</a>
</div>
<%- include('footer') %>